		<div id="doc-display" class="large-14 medium-14 small-14 large-offset-1 medium-offset-1 small-offset-1">
			<ul class="nav nav-tabs" id="docContentTabs">
				<li id="text_link" class="doc_link active disabled">
					#if($whitelabPage=='search')
						<a onclick="Whitelab.search.document.switchTab('text')">
					#else
						<a onclick="Whitelab.explore.document.switchTab('text')">
					#end
						#if($lang=='en')
							Text
						#else
							Tekst
						#end
					</a>
				</li>
				<li id="meta_link" class="doc_link">
					#if($whitelabPage=='search')
						<a onclick="Whitelab.search.document.switchTab('meta')">Metadata</a>
					#else
						<a onclick="Whitelab.explore.document.switchTab('meta')">Metadata</a>
					#end
				</li>
				<li id="stats_link" class="doc_link">
					#if($whitelabPage=='search')
						<a onclick="Whitelab.search.document.switchTab('stats')">
					#else
						<a onclick="Whitelab.explore.document.switchTab('stats')">
					#end
						#if($lang=='en')
							Statistics
						#else
							Statistieken
						#end
					</a>
				</li>
				<li id="cloud_link" class="doc_link">
					#if($whitelabPage=='search')
						<a onclick="Whitelab.search.document.switchTab('cloud')">Word cloud</a>
					#else
						<a onclick="Whitelab.explore.document.switchTab('cloud')">Word cloud</a>
					#end
				</li>
			</ul>
			<div id="text_tab" class="doc-pane tab-pane active">
				#if($query)
					<div class="hitscroll">
						<a href="#" onclick="Whitelab.search.document.gotoPreviousAnchor(event); return false;">
							<b>&laquo; Previous hit</b>
						</a>
						 | 
						 <a href="#" onclick="Whitelab.search.document.gotoNextAnchor(event); return false;">
							<b>Next hit &raquo;</b>
						</a>
					</div>
				#end
				<div class="gradient"></div>
				#if($document)
					$document.getContent()
				#end
			</div>
			<div id="stats_tab" class="doc-pane tab-pane">
				<div class="gradient"></div>
				<div id="docStatsDisplay" class="display row"></div>
				<div id="docGrowthDisplay" class="display row"></div>
				<div class="display row">
					<div id="docTokenPosPieDisplay" class="columns large-8"></div>
					<div id="docLemmaPosPieDisplay" class="columns large-8"></div>
				</div>
				<div id="docPosDisplay" class="row">
					<ul id="pos_nav"></ul>
					<div id="pos_data"></div>
				</div>
			</div>
			<div id="cloud_tab" class="doc-pane tab-pane">
				<div class="gradient"></div>
				<div id="docCloudSettings">
				#if($lang=='en')
					<input type="checkbox" class="split"/> Split per part of speech
				#else
					<input type="checkbox" class="split"/> Splitsen per woordsoort
				#end
				</div>
				<div id="docCloudDisplay"></div>
			</div>
			<div id="meta_tab" class="doc-pane tab-pane">
				<div class="gradient"></div>
				#if($document)
					$document.getMetadata()
				#end
			</div>
		</div>
		<script>
			
			lang = "$lang";
			
			$(function() {
				#if($document)
					loadStatsData(null,null,null);
					loadGrowthData(null,null,null);
					loadTokenPosPieData(null,null,null);
					loadLemmaPosPieData(null,null,null);
					loadCloudData(null,null);
					loadPosData("$docId","#docPosDisplay");
				#end
			});
				
			function loadStatsData(target,response,url) {
				if (target != null) {
					displayStats(response,target);
				} else {
					#set($params = "stats&docpid=$docId")
					getData("document", "$params", loadStatsData, "#docStatsDisplay");
				}
				return null;
			}
				
			function loadGrowthData(target,response,url) {
				if (target != null) {
					displayGrowth(response,target,url);
				} else {
					#set($params = "growth&docpid=$docId")
					getData("document", "$params", loadGrowthData, "#docGrowthDisplay");
				}
				return null;
			}
				
			function loadTokenPosPieData(target,response,url) {
				if (target != null) {
					displayPosPie(response,target,url);
				} else {
					#set($params = "pospie=token&docpid=$docId")
					getData("document", "$params", loadTokenPosPieData, "#docTokenPosPieDisplay");
				}
				return null;
			}
				
			function loadLemmaPosPieData(target,response,url) {
				if (target != null) {
					displayPosPie(response,target,url);
				} else {
					#set($params = "pospie=lemma&docpid=$docId")
					getData("document", "$params", loadLemmaPosPieData, "#docLemmaPosPieDisplay");
				}
				return null;
			}
			
			function loadCloudData(target,response) {
				if (target != null) {
					clearCloud();
					var data = $.parseJSON(response.data);
					for (var i = 0; i < data.length; i++) {
						var item = data[i];
						addNode(item.lemma,item.freq,item.pos,item.clean);
					}
				} else {
					#set($params = "cloud&docpid=$docId")
					getData("document", "$params", loadCloudData, "#docCloudDisplay");
				}
			}
			
		</script>
