#set($src='../web/img/plus.png')
#set($metaActive="")
#if($maintab == 'explore')
	#set($src='../web/img/minus.png')
	#set($metaActive="active")
#elseif($query && $tab != "simple")
	#set($metaActive="active")
#end
<dl class="accordion large-16 medium-16 small-16" id="accordion" data-accordion>
	<dd class="accordion-navigation large-16 medium-16 small-16">
		<a href="#${maintab}-meta" class="large-16 medium-16 small-16 meta-top-plus" onclick="Whitelab.meta.switchState(this);"><img class="img-plus" src="${src}"><h6>Metadata filters</h6></a>
		<div id="${maintab}-meta" class="content content-meta large-16 medium-16 small-16 $metaActive">
			<div class="meta-header large-16 medium-16 small-16">
				<p>$labels.getString("meta.header")</p>
			</div>
			<div class="row rules large-offset-1 medium-offset-1 small-offset-1">
				#if($queryRules)
					$queryRules
				#end
				$metaRule
			</div>
			<div class="meta-footer large-16 medium-16 small-16">
				#if($showMetaOptions && $showMetaOptions == "yes")
				<p>
					<input type="checkbox" id="group-check"> $labels.getString("meta.group")<select id="group-select" class="meta-medium" onchange="checkGroupSelectOptions($(this).val());">
					#if($query && $query.getView() == 16)
						<option value="hits">$labels.getString("meta.group.hits")</option>
						<option value="documents" selected="true">$labels.getString("meta.group.documents")</option>
					#else
						<option value="hits" selected="true">$labels.getString("meta.group.hits")</option>
						<option value="documents">$labels.getString("meta.group.documents")</option>
					#end
					</select>per<select id="group_by-select" class="meta-medium" onchange="$('#group-check').prop('checked',true);">
					#set($qGroup="")
					#set($qWithin="")
					#if($query && $query.getGroup() != "")
						<option value=""></option>
						#set($qGroup=$query.getGroup())
						#set($qWithin=$query.getWithin())
					#else
						<option value="" selected="true"></option>
					#end
					#if($query && $qGroup == "hit:word")
						$generator.generateOption("hit:word","hit ${labels.getString('word')}",true,"hits")
					#else
						$generator.generateOption("hit:word","hit ${labels.getString('word')}",false,"hits")
					#end
					#if($query && $qGroup == "wordleft:word")
						$generator.generateOption("wordleft:word","${labels.getString('word')} ${labels.getString('left')}",true,"hits")
					#else
						$generator.generateOption("wordleft:word","${labels.getString('word')} ${labels.getString('left')}",false,"hits")
					#end
					#if($query && $qGroup == "wordright:word")
						$generator.generateOption("wordright:word","${labels.getString('word')} ${labels.getString('right')}",true,"hits")
					#else
						$generator.generateOption("wordright:word","${labels.getString('word')} ${labels.getString('right')}",false,"hits")
					#end
					#if($query && $qGroup == "hit:lemma")
						$generator.generateOption("hit:lemma","hit ${labels.getString('lemma')}",true,"hits")
					#else
						$generator.generateOption("hit:lemma","hit ${labels.getString('lemma')}",false,"hits")
					#end
					#if($query && $qGroup == "wordleft:lemma")
						$generator.generateOption("wordleft:lemma","${labels.getString('lemma')} ${labels.getString('left')}",true,"hits")
					#else
						$generator.generateOption("wordleft:lemma","${labels.getString('lemma')} ${labels.getString('left')}",false,"hits")
					#end
					#if($query && $qGroup == "wordright:lemma")
						$generator.generateOption("wordright:lemma","${labels.getString('lemma')} ${labels.getString('right')}",true,"hits")
					#else
						$generator.generateOption("wordright:lemma","${labels.getString('lemma')} ${labels.getString('right')}",false,"hits")
					#end
					#if($query && $qGroup == "hit:pos")
						$generator.generateOption("hit:pos","hit ${labels.getString('pos')}",true,"hits")
					#else
						$generator.generateOption("hit:pos","hit ${labels.getString('pos')}",false,"hits")
					#end
					#if($query && $qGroup == "wordleft:pos")
						$generator.generateOption("wordleft:pos","${labels.getString('pos')} ${labels.getString('left')}",true,"hits")
					#else
						$generator.generateOption("wordleft:pos","${labels.getString('pos')} ${labels.getString('left')}",false,"hits")
					#end
					#if($query && $qGroup == "wordright:pos")
						$generator.generateOption("wordright:pos","${labels.getString('pos')} ${labels.getString('right')}",true,"hits")
					#else
						$generator.generateOption("wordright:pos","${labels.getString('pos')} ${labels.getString('right')}",false,"hits")
					#end
					#foreach($field in $filters)
						#if($query && $qGroup == $field)
							$generator.generateOption("field:${field}","$field",true,"")
						#else
							$generator.generateOption("field:${field}","$field",false,"")
						#end
					#end
					</select>
				</p>
				<p>$labels.getString("meta.within") <select id="search-within" class="meta-medium">
					#if($query && $qWithin == "sentence")
						$generator.generateOption("sentence",$labels.getString("meta.within.sentence"),true,"")
					#else
						$generator.generateOption("sentence",$labels.getString("meta.within.sentence"),false,"")
					#end
					#if($query && $qWithin == "paragraph")
						$generator.generateOption("paragraph",$labels.getString("meta.within.paragraph"),true,"")
					#else
						$generator.generateOption("paragraph",$labels.getString("meta.within.paragraph"),false,"")
					#end
					#if(!$query || $qWithin == "" || $qWithin == "document")
						$generator.generateOption("document",$labels.getString("meta.within.document"),true,"")
					#else
						$generator.generateOption("document",$labels.getString("meta.within.document"),false,"")
					#end
					</select>
				</p>
				#end
			</div>
		</div>
	</dd>
</dl>
<script>
	Whitelab.meta.rule = '$metaRule';
	
	function checkGroupSelectOptions(val) {
		Whitelab.debug("checkGroupSelectOptions("+val+")");
		if (val == 'documents') {
			$("#group_by-select option.hits").attr('disabled','disabled');
		} else {
			$("#group_by-select option.hits").removeAttr('disabled');
		}
	}
	
	#[[
	$(document).on("change", "select.metaLabel.switchable", function(e) {
		e.preventDefault();
		
		var val = $(this).val();
		var chk = 0;
		var inputParent = $(this).parent().parent().find(".metaInput").parent();
		]]#
		
		#set($d = "'")
		#foreach($sfield in $filters)
			#set($b="if (val === 'field:")
			#set($a="') {")
			${b}${sfield}${a}
			#[[
				chk = 1;
				$(inputParent).html(''+
				]]# ${d}$metaSelect.get($sfield)${d} #[[
				+'');
			}
			]]#
		#end
		#[[
		if (chk == 0) {
			$(inputParent).html('<input class="metaInput" type="text">');
		}
	});
	
	$(document).on("change", "select.metaInput", function(e) {
		e.preventDefault();
		if ($(this).val() === "other") {
			var parent = $(this).parent();
			$(parent).html("<input class=\"metaInput\" type=\"text\">");
		}
	});
	]]#
</script>