<div class="large-16 medium-16 small-16 result-pane">
	<div class="gradient"></div>
	<table id="ngram-table">
		<tr><th align="left">$labels.getString("explore.ngram.size") <input style="margin-left: 10px;" id="nsize" type="number" min="1" max="5" value="5" onchange="Whitelab.explore.ngram.setNgramBoxes();" /></th>
		<th align="left">$labels.getString("explore.ngram.type") <select id="ngram-groupSelect"><option value="word" selected="selected">$labels.getString("word")</option><option value="lemma">$labels.getString("lemma")</option><option value="pos">$labels.getString("pos")</option></select></th>
		<td colspan="3"></td></tr>
		<tr><td id="n1" class="n">
			<select class="type" onchange="Whitelab.explore.ngram.setInput($(this).parent());">
				<option value="word" selected="selected">$labels.getString("word")</option>
				<option value="lemma">$labels.getString("lemma")</option>
				<option value="pos">$labels.getString("pos")</option>
			</select><input class="input" type="text" placeholder="&lt;any&gt;" />
		</td><td id="n2" class="n">
			<select class="type" onchange="Whitelab.explore.ngram.setInput($(this).parent());">
				<option value="word" selected="selected">$labels.getString("word")</option>
				<option value="lemma">$labels.getString("lemma")</option>
				<option value="pos">$labels.getString("pos")</option>
			</select><input class="input" type="text" placeholder="&lt;any&gt;" />
		</td><td id="n3" class="n">
			<select class="type" onchange="Whitelab.explore.ngram.setInput($(this).parent());">
				<option value="word" selected="selected">$labels.getString("word")</option>
				<option value="lemma">$labels.getString("lemma")</option>
				<option value="pos">$labels.getString("pos")</option>
			</select><input class="input" type="text" placeholder="&lt;any&gt;" />
		</td><td id="n4" class="n">
			<select class="type" onchange="Whitelab.explore.ngram.setInput($(this).parent());">
				<option value="word" selected="selected">$labels.getString("word")</option>
				<option value="lemma">$labels.getString("lemma")</option>
				<option value="pos">$labels.getString("pos")</option>
			</select><input class="input" type="text" placeholder="&lt;any&gt;" />
		</td><td id="n5" class="n">
			<select class="type" onchange="Whitelab.explore.ngram.setInput($(this).parent());">
				<option value="word" selected="selected">$labels.getString("word")</option>
				<option value="lemma">$labels.getString("lemma")</option>
				<option value="pos">$labels.getString("pos")</option>
			</select><input class="input" type="text" placeholder="&lt;any&gt;" />
		</td></tr>
		<tr><td colspan="5" class="right-spaced"><button onclick="Whitelab.explore.ngram.execute()" class="search small"><span>$labels.getString("search")</span></button><button onclick="Whitelab.explore.ngram.reset()" class="reset small secondary"><span>$labels.getString("reset")</span></button></td></tr>
	</table>
</div>
<div id="ngram-info" class="info large-16 medium-16 small-16 hidden">
	<div class="gradient"></div>
	<div class="content">
		<span><label for="#ngram-query">Query</label><div id="ngram-query"></div></span>
		<span><label for="#ngram-filter">Filter</label><div id="ngram-filter">-</div></span>
		<span><label for="#ngram-size">$labels.getString("explore.ngram.size")</label><div id="ngram-size"></div></span>
		<span><label for="#ngram-group">$labels.getString("explore.ngram.type")</label><div id="ngram-group"></div></span>
		<span><label for="#ngram-count">$labels.getString("explore.ngram.count")</label><div id="ngram-count"></div></span>
		<span><label for="#ngram-hits">$labels.getString("result.per_hit")</label><div id="ngram-hits"></div></span>
		<span><label for="#ngram-docs">$labels.getString("result.per_doc")</label><div id="ngram-docs"></div></span>
	</div>
</div>
<div id="result_ngram" class="large-16 medium-16 small-16"></div>