		<div class="large-8 large-offset-4 medium-10 medium-offset-3 small-12 small-offset-2">
			<div>
				<div id="simple-input">
					<input type="text" class="biginput" placeholder="$labels.getString("simple.placeholder")" />
				</div>
				<div id="simple-buttons">
					<button onclick="Whitelab.search.execute()" class="search small"><span>$labels.getString("search")</span></button><button onclick="Whitelab.search.reset()" class="reset small secondary"><span>$labels.getString("reset")</span></button>
				</div>
			</div>
		</div>