#set($textUrl="document?tab=text&docpid=$docpid")
#set($metadataUrl="document?tab=metadata&docpid=$docpid")
#set($statisticsUrl="document?tab=statistics&docpid=$docpid")
#set($wordcloudUrl="document?tab=wordcloud&docpid=$docpid")
#if($query)
	#set($except=["first","from","group","sort","filters","number"])
	#set($textUrl=$query.getUrl("$maintab/document","&tab=text",false,$except))
	#set($metadataUrl=$query.getUrl("$maintab/document","&tab=metadata",false,$except))
	#set($statisticsUrl=$query.getUrl("$maintab/document","&tab=statistics",false,$except))
	#set($wordcloudUrl=$query.getUrl("$maintab/document","&tab=wordcloud",false,$except))
#end
<ul class="nav nav-tabs" id="docContentTabs">
	#if(!$doctab || $doctab == "text")
		<li id="text_link" class="doc_link active disabled">
			<a href="#" onclick="event.preventDefault();">$labels.getString("document.tab.text")</a>
		</li>
	#else
		<li id="text_link" class="doc_link">
			<a href="$textUrl">$labels.getString("document.tab.text")</a>
		</li>
	#end
	#if($doctab == "metadata")
		<li id="meta_link" class="doc_link active disabled">
			<a href="#" onclick="event.preventDefault();">$labels.getString("document.tab.metadata")</a>
		</li>
	#else
		<li id="text_link" class="doc_link">
			<a href="$metadataUrl">$labels.getString("document.tab.metadata")</a>
		</li>
	#end
	#if($doctab == "statistics")
		<li id="stats_link" class="doc_link active disabled">
			<a href="#" onclick="event.preventDefault();">$labels.getString("document.tab.statistics")</a>
		</li>
	#else
		<li id="text_link" class="doc_link">
			<a href="$statisticsUrl">$labels.getString("document.tab.statistics")</a>
		</li>
	#end
	#if($doctab == "wordcloud")
		<li id="cloud_link" class="doc_link active disabled">
			<a href="#" onclick="event.preventDefault();">$labels.getString("document.tab.cloud")</a>
		</li>
	#else
		<li id="text_link" class="doc_link">
			<a href="$wordcloudUrl">$labels.getString("document.tab.cloud")</a>
		</li>
	#end
</ul>