<div id="cloud_tab" class="doc-pane tab-pane active" style="margin-top: ${m}px;">
	<div class="gradient"></div>
	#if($omitLegend=="false")
		<div id="docCloudSettings"><input type="checkbox" class="split"/> $labels.getString("document.cloud.split")</div>
	#end
	<div id="docCloudDisplay"></div>
</div>
<script>
	
	$(function() {
		loadCloudData("#docCloudDisplay",false,$data,$omitLegend);
	});
	
</script>