#set($maintab = "explore")
#parse("header.vm")
#set($treemap = $labels.getString("explore.treemap"))
#set($ngram = $labels.getString("explore.ngram"))
#set($stats = $labels.getString("explore.statistics"))
#set($doc = $labels.getString("explore.document"))
<div id="explorepage">
	#set($tab="treemap")
	#parse("explore/tabs.vm")
	
	<div class="large-16 medium-16 small-16 row tabs-content" id="explore">
		<div id="treemap" class="large-16 medium-16 small-16 content active">
			<div style="width: 1200px; margin-left: auto; margin-right: auto; margin-top: 20px;">
				<div style="display: inline-block; width: 190px; vertical-align: top;" id="treemap-options"><p style="font-size: small;">
				#if($lang=="en")
					Show division of corpus in number of documents per:
				#else
					Toon verdeling in aantal documenten per:
				#end
				</p>$treemapOptions</div><div style="display: inline-block; width: 1000px; height: 600px;">
					<iframe id="treemap-display" src="../web/treemap.html" style="width: 1000px; height: 600px; border: 0; overflow: hidden; margin-left: auto; margin-right: auto;"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).on("change", "#treemap input[name=field]", function() {
		var val = $("#treemap input[name=field]:checked").val();
		Whitelab.explore.getTreemapData(val);
	});
</script>
#parse("footer.vm")