#set($except=[])
<table id="queries" class="select">
	<thead>
		<tr class="tbl_head">
			<th class="r">#</th>
			<th class="q">$labels.getString("result.query")</th>
			<th class="w">$labels.getString("result.within")</th>
			<th class="m">$labels.getString("result.filters")</th>
			<th class="g">$labels.getString("result.grouping")</th>
			<th class="status">$labels.getString("result.status")</th>
			<th class="h">$labels.getString("result.hits")</th>
			<th class="d">$labels.getString("result.documents")</th>
			<th class="control"></th>
		</tr>
	</thead>
	<tbody>
		#if($qlBefore > -1)
			#set($url=$query.getUrl("search/results","&ql=$qlBefore",false,null))
			<tr class="ql up" onclick="document.location.href='$url'"><td colspan="9">...</td></tr>
		#end
		#set($i = 0)
		#foreach($q in $queries)
			#set($i = $i + 1)
			#if($qlStart <= $i && $i <= $qlEnd)
				#set($url=$q.getUrl("search/results","&ql=${ql}",false,$except))
				#if($q.isCurrent())
					<tr class="active query-row">
					<td class="r">$i</td>
					<td class="q">$q.getPattern()</td>
					<td class="w">$q.getWithinString()</td>
					<td class="m">$q.getFilter()</td>
					<td class="g">$q.getGroupClean()</td>
					<td class="status">$q.getStatusString()</td>
					<td class="h">$q.getHits()</td>
					<td class="control">$q.getDocs()</td>
				#else
					<tr class="query-row">
					<td onclick="document.location.href='$url'" class="r">$i</td>
					<td onclick="document.location.href='$url'" class="q">$q.getPattern()</td>
					<td onclick="document.location.href='$url'" class="w">$q.getWithinString()</td>
					<td onclick="document.location.href='$url'" class="m">$q.getFilter()</td>
					<td onclick="document.location.href='$url'" class="g">$q.getGroup()</td>
					<td onclick="document.location.href='$url'" class="status">$q.getStatusString()</td>
					<td onclick="document.location.href='$url'" class="h">$q.getHits()</td>
					<td onclick="document.location.href='$url'" class="control">$q.getDocs()</td>
				#end
					<td>
						#set($fromString=$q.getFromString("search"))
						#set($editUrl=$q.getUrl("search/$fromString","&edit=true&ql=${ql}",true,$except))
						#set($deleteUrl=$q.getUrl("search/results","&delete=true&ql=${ql}",true,$except))
						<button onclick="document.location.href='$editUrl'" class="edit">EDIT</button>
						<button onclick="document.location.href='$deleteUrl'" class="remove">X</button>
					</td>
				</tr>
			#end
		#end
		#if($qlEnd < $i)
			#set($qlAfter=$ql+5)
			#set($url=$query.getUrl("search/results","&ql=${qlAfter}",false,$except))
			<tr class="ql down" onclick="document.location.href='$url'"><td colspan="9">...</td></tr>
		#end
	</tbody>
</table>