<table id="queries" class="select">
	<thead>
		<tr class="tbl_head">
			<th class="r">#</th>
			<th class="q">$labels.getString("result.query")</th>
			<th class="w">$labels.getString("result.within")</th>
			<th class="m">$labels.getString("result.filters")</th>
			<th class="g">$labels.getString("result.grouping")</th>
			<th class="status">$labels.getString("result.status")</th>
			<th class="h">$labels.getString("result.hits")</th>
			<th class="d">$labels.getString("result.documents")</th>
			<th class="control"></th>
		</tr>
	</thead>
	<tbody>
		#set($i = 0)
		#foreach($q in $queries)
			#set($i = $i + 1)
			#set($url=$q.getUrl("search/results",null))
			#if($q.isCurrent())
				<tr class="active query-row">
			#else
				<tr onclick="document.location.href='$url'" class="query-row">
			#end
				<td>$i</td>
				<td>$q.getPattern()</td>
				<td>$q.getWithinString()</td>
				<td>$q.getFilter()</td>
				<td>$q.getGroup()</td>
				<td>$q.getStatusString()</td>
				<td>$q.getHits()</td>
				<td>$q.getDocs()</td>
				<td>
					#set($fromString=$q.getFromString("search"))
					#set($editUrl=$q.getUrl("search/$fromString","&edit=true"))
					#set($deleteUrl=$q.getUrl("search/results","&delete=true"))
					<button onclick="document.location.href='$editUrl'" class="edit">EDIT</button>
					<button onclick="document.location.href='$deleteUrl'" class="remove">X</button>
				</td>
			</tr>
		#end
	</tbody>
</table>